body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color:  #572364;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    margin: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #572364;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form select, form button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #572364;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #572364;
}
